:root {
    --color-bg-darker-blue: #0B0F1A;
    /* fondos */
    --color-bg-violet-blue: #1A2240;
    /* fondos */
    --color-grey-blue: #3D465C;
    /* secciones */
    --color-profesional-blue: #2E3F89;
    /* botones e interactivo */
    --color-soft-blue: #5A71D7;
    /* botones e interactivo*/
    --color-light-violet: #9A9CFF;
    /* resaltados e iconos */
    --color-soft-cyan: #90C4FF;
    /* resaltado e iconos */
    --color-white-blue: #F4F7FF;
    /* texto */
    --color-ice-blue: #AFC8FF;
    /* texto  */
}

body {
    display: grid;
    min-height: 100dvh;
    grid-auto-rows: auto 1fr auto;
    background-color: var(--color-bg-violet-blue);
}

* {
    margin: 0;
    padding: 0;
}

header {
    display: block;
    color: var(--color-ice-blue);
    margin: 0 auto;

    h1 {
        font-size: clamp(1.2rem, 3vw, 2rem);
        text-align: center;
    }

}

main {

    #navigation {
        height: fit-content;

        #pcNav {
            nav {
                justify-content: center;
                display: flex;
                gap: 15px;
                list-style: none;

                a {
                    padding: 20px;
                    color: var(--color-white-blue);
                    text-decoration: none;
                }

                a:hover {
                    background-color: var(--color-soft-blue);
                }
            }
        }

        #mobileNav {
            display: none;
        }

        @media (max-width: 480px) {
            #pcNav {
                display: none;
            }

            #mobileNav {
                display: block;

                nav {
                    display: none;
                    list-style: none;
                    flex-direction: column;
                    position: absolute;
                    margin-left: 1em;
                    gap: .5em;

                    a {
                        color: var(--color-white-blue);
                        text-decoration: none;

                    }

                    a:hover {
                        background-color: var(--color-soft-blue);
                    }
                }

                button {
                    margin-left: 1em;
                    background-color: var(--color-profesional-blue);

                    svg {
                        display: block;
                        color: var(--color-ice-blue);
                        height: 1.9em;
                        width: 1.9em;
                    }
                }

            }

            /*móviles*/

        }
    }

    #indexInfo {
        margin: auto 0;

        section {
            display: flex;
            justify-content: center;
            flex-direction: column;

            #indexImage {
                width: 60%;
                margin: 0 auto;
            }

            p {
                font-size: large;
                text-align: center;
                color: var(--color-bg-darker-blue);
                border: solid 1px var(--color-white-blue);
                border-radius: 5px;
                padding: 1%;
                margin: 5% 20%;
                background: var(--color-soft-blue);
            }
        }

    }

}

footer {
    border-top: solid 1px var(--color-ice-blue);
    color: var(--color-grey-blue);

    span {
        display: block;
        font-size: medium;
        text-align: center;
        padding: 1.5em;
    }
}